*.o
*.a
*.so
*.lo
*.lib
*.dll
*.rlib
*.dylib
*.exe
*.out
*.pdb
*~
~*
*.bk
*.lock
*.swp
*.rsproj
*.svg
target/
*.sublime-*
*.code-workspace
.cargo/
.DS_Store
.vscode/

# Profiling artifacts
perf.data*
flame.svg
